* {
    margin: 0;
	padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

/* MATERIAL UI */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

/* MATERIAL UI */


nav { 
	width: 20%;
    height: 100vh;
	background-color: #111;
    float: left;
}

nav .title {
    background: linear-gradient(#000, #222);
	font-size: 16px;
	display: block;
	padding: 10px 15px;
	cursor: pointer;
    transition: all .25s;
	color: #FFF;
}

nav ul li {
	background-color: #111;
	height: 35px;
	overflow: hidden;
	transition: all .3s;
	font-weight: bold;	
}

nav a {
	font-size: 12px;
	text-decoration: none;
	display: block;
	padding: 10px 25px;
	transition: all .25s;
	color: #FFF;
}

nav a:hover {
	background-color: #333;
    box-shadow: inset 5px 0px 0px 0px #f00;
}

nav .title:hover {
	text-shadow: 0px 0px 10px #fff;
}

nav input[type="radio"] {
	display: none;
}

nav input:checked + li  {
	height: 140px;
}

nav span {
	margin-right: 10px;
}

main .main {
    width: 80%;
    padding: 10px;
    float: right;
}