/* JUST FOR TEST PURPOSES
This rules will be in the 'style.css' file */

* {
    margin: 0;
	padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

/* MATERIAL UI */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}


/* --------------------------------------- */



nav { 
	width: 20%;
    height: 100vh;
	background-color: #111;
    float: left;
}

nav .title {
	font-size: 1.5em;
	display: flex;
	height: auto;
    align-items: center;
	padding: 0.5em 1em; 
	cursor: pointer;
	color: #FFF;
}


nav ul li {
	/* 'height' is acting as the line-heigth of the list 
    As it is hardoced, maybe it'll break in the future*/
	height: 3.5em; 
	overflow: hidden;
	font-weight: bold;	
}

nav a {
	font-size: 1em;
	text-decoration: none;
	display: block;
	padding: 10px 25px;
	color: #FFF;
}

nav a:hover {
	background-color: #333;
    box-shadow: inset 5px 0px 0px 0px #00A650;
}

nav .title:hover {
	background-color: #00A650;
}

nav input[type="radio"] {
	display: none;
}

/* 'height' configurates the size of the open menu. 
'max-content' fix the issue of having different 
amount of items, but for some reason it disrupts
any animated transition */
nav input:checked + li  {
	height: max-content;
}

nav span {
	margin-right: 0.5em;
}

/* MAIN */

/* This will change in responsive as the sidebar
will hidde and appear overlapping the main content
(with a dark shadow to obscure anything its behind*/
main .main {
    width: 80%;
    padding: 10px;
    float: right;
}