:root{
	--primary-color: white;
	--secondary-color: black;
	--neutral-color-75: #333;

	--navbar-height: 60px;
	--column-width: clamp(250px, 360px, 30%);

    --animation-delayn: 0.3s;
}

/* JUST FOR TEST PURPOSES
This rules will be in the 'style.css' file */

* {
    margin: 0;
	padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

/* MATERIAL UI */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

h1 {
	font-size: 2em;
}

p {
	font-size: 1em;
}

.logo span {
	padding: 0 .3em;
}

img {
	width: clamp(250px, 50%, 500px);
}



/* --------------------------------------- */

/* MAIN */

/* Desktop version */
main {
	/* This prevents to overflow (at some extent) */
	width: calc(100vw - var(--column-width));
	/* This margin prevents to go under the fixed side bar */
	margin-left: var(--column-width);
	padding: 2.4em clamp(1em, 5vw, 10vw);
}

main :is(ul, ol) {
    list-style-position: inside
}


/* ARTICLE */

article {
	display: flex;
	flex-direction: column;
	gap: 2em;
}


article section {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}



/* NAVIGATION */

/* General style for navigation bars */
header {
	/* Width for Desktop version */
    width: var(--column-width);
	color: var(--primary-color);
    background: var(--secondary-color);
	height: 100vh;
	top: 0;
	position: fixed;
	overflow-y: auto;
}

header nav input[type="radio"] {
	display: none;
}

/* Stylize items of the navigation bars */
header nav a {
	font-size: 1em;
	text-decoration: none;
	display: block;
	padding: 10px 25px;
	color: var(--primary-color);
}

/* Higltight hovered item with lighter tone */
header nav a:hover, .title:hover {
	background-color: var(--neutral-color-75);
}





/* TOP navigation bar */

/* Shapes into a row */
header nav .top-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* layout of inner items */
header nav .top-navigation a {
	display: inline-flex;
	align-items: center;
	justify-content: left;
	padding: 1em;
}

/* Hides hamburger menu */
header nav .top-navigation .icon {
	display: none;
}

/* Optional; HOME button grows taking empty space  */
header nav .top-navigation #home {
	flex: 1;
}



/* SIDE navigation bar */

/* Add style to Category's items */
header nav .side-navigation .title {
	font-size: 1.5em;
	display: flex;
	height: auto;
    align-items: center;
	padding: 0.5em 1em; 
	cursor: pointer;
	color: var(--primary-color);
}

/* Separates symbol from title */
header nav .side-navigation span {
	margin-right: 0.3em;
}

/* Gives style to items in the list */
header nav .side-navigation li {
	/* DEVELOPER NOTES:
	'height' is acting as the line-heigth of the list:
	- If height is low, labels will overlap.
	- If heigth is too high li items will appear.
	- I 'ill left it at 3.5em, because this way the label's icon
	  won't be clipped by the background of the label. 
	- If title is too long, it 'll be overlapped by the next
	  label in line.. for this project in particular, titles 
	  of each category will be very short.
	So take in mind this limitation if you want to use this code
	in future projects*/
	height: 3em;
	overflow: hidden;
}

/* 'height' configurates the size of the open menu. 
'max-content' fix the issue of having different 
amount of items, but for some reason it disrupts
any animated transition */
nav input:checked + li  {
	height: max-content;
}





/* Movile version */
@media (max-width: 720px) {
	header {
		width: 100vw;
		height: fit-content;
	}

	body {
		padding-top: var(--navbar-height);
	}

	/* Maybe scripts change only this */
	.side-navigation, nav hr {
		display: none;
		
	}

	header nav .top-navigation .icon {
		display:block;
	}
	
	main {
		width: auto;
		margin-left: 0;
	}
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* CONTINUE HERE */

/* Follow this as a renference: https://threejs.org/examples/
*/


/* Create a rule to avoid scroll bar to overlap with main */

/* Look for the possibility to resolve the hamburger menu in the same fashion as the sidebar; meaning no JS */



/* --------------------------------------------------------------- */
/* OPTIONAL */

/* ADD a rule to clip longer titles of the 'page items'.

It would be nice to clip it this way:
"This is a very long title for a page item" 
to
"This is a very long title ..."
*/

