/* CSS DIRECTORY
    0. = GLOBAL SETTINGS (resets, scrollbars, etc.)
	1. = PRIMARY LAYOUT STRUCTURE (body, primary divs)
	2. = SECONDARY LAYOUT STRUCTURE (header, footer, sidebar)
	3. = TERTIARY LAYOUT STRUCTURE (page regions, floats)
*/



/* === 0.0 GLOBAL SETTINGS === */

/* --- 0.1 Colors --- */

:root {
    --primary-color: white;
    --secondary-color: #252525;
    --tertiary-color: #00A650;
}


/* --- 0.2 Reset broweser's default style ---  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* --- 0.3 Themes --- */

.light-theme {
    background-color: var(--primary-color);
    color: var(--secondary-color)
}

.dark-theme {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* --- 0.4 Family fonts --- */

/* Display Font */

h1 {
    font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Text font */

:not(h1) {
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}



/* === 1. PRIMARY LAYOUT STRUCTURE === */

/* --- 1.1 Elements --- */

h1 {
    font-size: clamp(2rem, 5vw, 5rem);
}

h2 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
}

h3 {
    font-size: clamp(1.125rem, 1.5vw, 1.75rem);
}

p {
    font-size: clamp(1rem, 1.25vw, 1.5rem);
}



/* === 2. SECONDARY LAYOUT STRUCTURE === */

/* === 3. TERTIARY LAYOUT STRUCTURE === */

