<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <!-- Model viewer component -->
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">
    
    <title>Sobre el proyecto</title>
</head>

<body class="light-theme">

    <header>
        <nav>
            <!-- Home -->
            <div>
                <span class="wordmark"><a href="..\index.html">Tadeo Riganti</a></span>
            </div>
            <!-- Nav links -->
            <ul class="nav-links">
                <!-- About the proyect -->
                <li><a href="#">Sobre el proyecto</a></li>
                <li><a href="laboratory.html">Laboratorio</a></li>
            </ul>
        </nav>
    </header>
    
<main>
    <section class="hero">
        <div class="container">
            <h1>Realidad aumentada para tiendas virtuales</h1>
            <h2>
                Solucion web para mejorar la experiencia de compra
            </h2>
            <h3>Sobre el sitio</h3>
            <p>
                Es un espacio de experimentacion para jugar con las posibilidades que ofrece el componente web 'model-viewer' (desarrollado por Google), que ofrece tanto renderizado 3D asi como realidad aumentada (ARCore).
            </p>
            <h3>Como solución</h3>
            <p>
                Se trata de un "mejorador" de experiencias, que busca que el usuario vea el sitio como una herramienta más de compra; y para el cliente del servicio (las mepresas), se busca que mejoren las metricas de los usuarios; que pasen mas tiempo en el sitio, interactue mas, pero finalmente es una solución que busca impactar de manera positiva y memorable.  
            </p>
            <h3>Propuesta de valor</h3>
            <ol>
                <li>Para las empresas:
                    <ul>
                        <li>Reducir los ciclos de ventas</li>
                        <li>Reducir las tasas de devolucion</li>
                        <li>Ofrecer innovacion como valor de marca</li>
                    </ul>
                </li>
                
                <li>Para los clientes:
                    <ul>
                        <li>Brindar más informacion (no verbal) sobre el producto</li>
                        <li>Previsualizar los productos en su espacio (mentalidad funcional)</li>
                        <li>Promover que jueguen con las posibilidades que se ofrecen (mentalidad hedonistica)</li>
                    </ul>
                </li>
            </ol>
            <h3>Como servicio</h3>
            <p>Si bien la forma respondera a cada situación en particular, en esencia se trata de:</p>
            <ul>
                
                <li>Analizar la estrategia de marca</li>
                <li>Auditar la experiencia de uso del sitio web</li>
                <li>Immplementar la funcionalidad (desarrollo directo, indirecto o uso de plugins)</li>
                <li>Modelado 3D</li>
                <li>Test de calidad</li>
            </ul>
                
        </div>
    </section>
</main>

<footer class="dark-theme">
    <div class="container">
        <p><small>@ 2024 Tadeo Riganti</small></p>
    </div>
</footer>
    
</body>
</html>