<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <!-- Model viewer component -->
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">
    
    <title>Laboratorio</title>
</head>

<body class="light-theme">

    <header>
        <nav>
            <!-- Home -->
            <div>
                <span class="wordmark"><a href="..\index.html">Tadeo Riganti</a></span>
            </div>
            <!-- Nav links -->
            <ul class="nav-links">
                <!-- About the proyect -->
                <li><a href="about.html">Sobre el proyecto</a></li>
                <li><a href="#">Laboratorio</a></li>
            </ul>
        </nav>
    </header>
    
<main>
    <section class="hero-banner">
        <div class="container">
            <div class="description">
                <h1>Laboratorio</h1> 
                <h2>Una lista de todos los experimentos realizados hasta la fecha</h2>  
            </div> 
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Objetivo del experimento</td>
                            <td>Funcionalidades</td>
                            <td>Fecha</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Testear la fidelidad en la escala del producto visualizado</td>
                            <td>Escala, anotaciones</td>
                            <td>13/07/24</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
        </div>
    </section>
</main>

<footer class="dark-theme">
    <div class="container">
        <p><small>@ 2024 Tadeo Riganti</small></p>
    </div>
</footer>
    
</body>
</html>