<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\side-bar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
</head>
<body>
    <header>
        <nav>

            <!-- Panel for a category -->
            <ul> 
                <!-- Accordion will open when input is 'checked' -->
                <input type="radio" name="menu" id="category-1" checked>
                <li>
                    <label for="category-1" class="title">
                        <!-- Category's symbol // dashbord is only for testing purposes -->
                        <span class="material-symbols-outlined">category</span>Category 1
                    </label>
                    <!-- Category's children page items -->                  
                    <ul>
                        <li><a href="#">Item Page 1</a></li>
                        <li><a href="#">Item Page 2</a></li>
                        <li><a href="#">Item Page 3</a></li>
                        <li><a href="#">Item Page 4</a></li>
                        <li><a href="#">Item Page 5</a></li>
                        <!-- <li><a href="#">Item Page 6</a></li>
                        <li><a href="#">Item Page 7</a></li>
                        <li><a href="#">Item Page 8</a></li>
                        <li><a href="#">Item Page 9</a></li>
                        <li><a href="#">Item Page 10</a></li> -->
                    </ul>
                </li>

                <!-- Accordion will open when input is 'checked' -->
                <input type="radio" name="menu" id="category-2">
                <li>
                    <label for="category-2" class="title">
                        <!-- Category's symbol // tasks is only for testing purposes -->
                        <span class="material-symbols-outlined">category</span>Category 2
                    </label>
                    <!-- Category's children page items -->                  
                    <ul>
                        <li><a href="#">Item Page 1</a></li>
                        <li><a href="#">Item Page 2</a></li>
                        <li><a href="#">Item Page 3</a></li>
                        <li><a href="#">Item Page 4</a></li>
                        <li><a href="#">Item Page 5</a></li>
                        <li><a href="#">Item Page 6</a></li>
                        <li><a href="#">Item Page 7</a></li>
                        <li><a href="#">Item Page 8</a></li>
                        <li><a href="#">Item Page 9</a></li>
                        <li><a href="#">Item Page 10</a></li>
                    </ul>
                </li>


            </ul>

        </nav>
    </header>    
    <main>
        <article>
            <h1>Category</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, delectus? Magni officia consequatur eius amet maxime, animi ratione officiis tempore perspiciatis doloribus perferendis accusamus eum distinctio itaque corrupti omnis totam. Doloribus, necessitatibus.</p>
        </article>
    </main>
</body>
</html>